body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(238, 253, 229);
    margin: 3em 6em 3em 6em;
}

h1, h2, h3 {
    color: rgb(2, 92, 50);
    font-weight: bold;
}

h1 {
    font-size: 3em;
    line-height: 0;
    margin-bottom: 1.2em;
}

p, ol, ul {
    margin-bottom: 2em;
}

a {
    color: black;
}

p, li {
    line-height: 1.5em;
}

.container {
    border: solid 3px rgb(2, 92, 50);
    border-radius: 20px;
    padding: 2em;
}

