body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: rgb(238, 253, 229);
}

h1, h2 {
    color: rgb(2, 92, 50);
}

a {
    text-decoration: none;
    color: black;
    line-height: 1.5em;
}

.footer-link {
    margin-top: 3em;
}